@import 'includes/variables';
@import 'vendor/bootstrap/bootstrap';
@import 'vendor/rangeslider/rangeslider';

#faceContainer {
  border-radius: 50%;
  height: 293px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 293px;
}

.image {
  left: 0;
  position: absolute;
  top: 0;
}

.logo {
  margin-left: -90px;
  position: absolute;
  top: 15px;
  z-index: 100;
}

// Set z-index for the different face parts.
#bg { z-index: 1; }
#face { z-index: 2; }
#beard { z-index: 3; }
#ear { z-index: 4; }
#mouth { z-index: 5; }
#nose { z-index: 6; }
#eyes { z-index: 7; }
#brows { z-index: 8; }
#hair { z-index: 9; }
#piercings { z-index: 10; }
#glasses { z-index: 11; }
#headcoverings { z-index: 12; }

.toggle-label {
  margin-left: 1rem;
  &:before { content: '('; }
  &:after { content: ')'; }
}
.rangeslider {
  .rangeslider__fill {
  	background: $warning;
  }

  .rangeslider__handle {
  	&.emoji {
  		&:after {
  			background: transparent;
  			border-color: 0;
  			width: auto; height: 22px;
  			line-height: 22px;
  			text-align: center;
  		}

  		&.face {
  			&:after {
  				content: '\01F600';
  			}
  		}
  		&.mouth {
  			&:after {
  				content: '\01F444';
  			}
  		}
  		&.eyes {
  			&:after {
  				content: '\01F441';
  			}
  		}
  		&.nose {
  			&:after {
  				content: '\01F443';
  			}
  		}
  		&.hair {
  			&:after {
  				content: '\01F488';
  			}
  		}
  		&.brows {
  			&:after {
  				content: '\01F41B';
  			}
  		}
  		&.beard {
  			&:after {
  				content: '\01F9D4';
  			}
  		}
  		&.hairColor {
  			&:after {
  				content: '\01F3A8';
  			}
  		}
      &.headcoverings {
        &:after {
          content: '\01F9D5';
        }
      }
      &.glasses {
        &:after {
          content: '\01F453';
        }
      }
      &.piercings {
        &:after {
          content: '\01F48E';
        }
      }
  	}
  }
}

.btn-sections {
  background: #ffffff;
  border-bottom: 0;
  border-color: #9aa9b7;
  border-radius: 0;
  color: #333333;

  &:hover {
    background: #fafafa;
    border-color: #9aa9b7;
    color: #333333;
  }
}

#controls {
  border-bottom: 1px solid #9aa9b7;
}

.control-section {
  border-color: #9aa9b7;
  border-style: solid;
  border-width: 0 1px;
  padding: 5px 15px 10px;
}


// Small Screen Styles
@media (max-width:991px) {
  .logo {
    margin-left: -60px;
    top: 6px;
    width: 120px;
  }

  #faceContainer {
    height: 200px;
    width: 200px;

    img {
      height: 200px;
      width: 200px;
    }
  }

  .col-face {
    height: 300px;
  }

  .col-controls {
    height: calc(100vh - 300px);
    overflow-y: scroll;
  }
}
