// Colors
$faceBlue:            #80CDEB;
$faceGreen:           #35C0A1;
$facePurple:          #7652AD;
$faceViolet:          #AE6DC9;
$faceYellow:          #FFE66F;
$faceRed:             #D55241;

$borderWidth:         2px;
